body {
  background-color: #cccccc;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}

/*header start*/

.header {
  position: absolute;
  top: 20px;
  width: 100%;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 240px;
}

.logo-text {
  margin-left: 15px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 60px;
  text-transform: uppercase;
  color: #f7f7f7;
}

.nav__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 480px;
}

.nav__item {
  display: flex;
  align-items: center;
}

.nav__link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 60px;
  color: #f7f7f7;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.nav__link:hover {
  opacity: 50%;
}

.nav__button {
  background-color: transparent;
  border: 2px solid #cd6326;
  box-sizing: border-box;
  padding: 10px 23px;
  border-radius: 5px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #f7f7f7;

  transition: ease-out 150ms;
}

.nav__button:hover {
  background-color: #cd6326;
}
.nav__button:active,
.nav__button:focus {
  border-color: #8f5613;
  background-color: #8f5613;
  outline: none;
}

/*header end*/

/*survival start*/

.survival {
  background-image: url("/img/survival-background.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-color: #02160b;
  height: 779px;
}

.donation {
  position: relative;
  top: 200px;
}

.survival__paragraph {
  margin-top: 50px;
  max-width: 274px;
}

.survival__button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  text-align: center;
  color: #f7f7f7;

  background-color: #cd6326;
  border: none;

  box-sizing: border-box;
  padding: 17px 42px;
  border-radius: 5px;
  margin-top: 49px;

  transition: ease-out 150ms;
}

.survival__button:hover {
  background-color: #e39128;
}

.survival__button:active,
.survival__button:focus {
  background-color: #8f5613;
  outline: none;
}

/*survival end*/
/*latest articles start*/

.latest-articles {
  background-color: #cccccc;
}

.latest-articles__header {
  margin-top: 120px;
  text-align: center;
}

.subheader {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: #666666;

  margin-top: 20px;
}

.slider {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 120px;
}

.slider__frame {
  max-width: 1020px;
  width: 100%;
  overflow: hidden;
}

.slider__images {
  transition: ease 500ms;
}

.slider__figure {
  float: left;
  margin-right: 60px;
  position: relative;
}

.slider__caption {
  position: absolute;
  top: 247px;
  width: 100%;
  text-align: center;
}

.caption-text {
  margin-top: 10px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 27px;
  color: #f7f7f7;
}

.right-arrow,
.left-arrow {
  transition: opacity ease-in 150ms;
}

.right-arrow:hover {
  opacity: 50%;
}

.left-arrow:hover {
  opacity: 50%;
}

/*latest articles end*/

/*get notified start*/

.get-notified__header {
  text-align: center;
  margin-top: 235px;
}

.notification-form {
  display: flex;
  justify-content: center;
  flex-basis: 660px;
  height: 60px;
  margin-top: 59px;
}

.notification-form__text {
  flex-basis: 540px;
  box-sizing: border-box;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: #666666;
  border-radius: 5px 0 0 5px;
  padding-left: 15px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  color: #666666;
}

.notification-form__submit {
  flex-basis: 120px;

  background-color: #cd6326;
  border: none;
  border-radius: 0 5px 5px 0;

  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  color: #f7f7f7;

  transition: ease-out 150ms;
}

.notification-form__submit:hover {
  background-color: #e39128;
}

.notification-form__submit:active,
.notification-form__submit:focus {
  background-color: #8f5613;
  outline: none;
}

.notification-form__text:active,
.notification-form__text:hover,
.notification-form__text:focus {
  outline: none;
}
/*get notified end*/

.footer {
  margin-top: 239px;
  box-sizing: border-box;
  height: 359px;

  padding-top: 150px;

  background-image: url("/img/footer-background.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-color: #181617;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.fnav__items {
  display: flex;
  width: 480px;
  justify-content: space-between;
  align-items: center;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}

.social__link {
  height: 40px;
}
